<ul>
  <% boards.forEach(function(board){ %>
    <li>
      <a href="#/boards/<%= board.escape("id") %>">
      <div class="board">
          <%= board.escape('title')  %>
      </div>
      </a>
    </li>
  <% }) %>
</ul>
<div class="hidden" id="board-form">
  <form id="new-board-form">
    <input type="text" name="board[title]">

    <button id="create-board" class="btn btn-primary">Create Board</button>
    <button id="never-mind-board" class="btn btn-warning">x</button>
  </form>
</div>


<button class="btn btn-primary" id="new-board-button">New Board</button>
