<ul>
  <% boards.forEach(function(board){ %>
    <li>
      <a href="#/boards/<%= board.escape("id") %>">
        <%= board.escape('title')  %>
      </a>
    </li>
  <% }) %>
</ul>

<div class="hidden" id="board-form">
  <%= JST['board/new']() %>
</div>

<div id="new-board-button">
<button id="new-board">New Board</button>
</div>